.container{
    display:flex;
    text-align: center;
    flex-direction: column;
}

.container3{
    font-size: 16px;
    font-weight: bold;
}
.container2{

    display:flex;
    flex-direction: column;
    
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 7px 5px;

    margin:auto;

    max-height:300px;
    max-width:500px;
    min-width: 300px;
    overflow-y:scroll;
}
h1{
    padding-top: 20px;
}
.imgStyle{
    padding-top:-100px;
    width:200px; 
    height:200px;
    margin:auto;
}
#buttonContainer{
    padding-top:20px;
    text-align: center;
}
#backButton{
    width: 50px;
}