.container{
    margin-top:auto;
    display:flex;
    flex:1;
    flex-direction:column;
    gap:10px;
    background-color: #011848;
    margin-left:-10px;
    width:150px;
    border-radius:10px;
    padding:1rem;
}
button{
    margin-left: auto;
    margin-right:auto;
    color: white;
    background-color: #023193;
    border-color: transparent;
    box-shadow: 2px 1px 1px white;
    width: 100px;
}