        
<div id="container">
    <div class = "cardStyle card" *ngFor="let laptop of laptops">
        <img class="imgStyle card-img-top" src="{{laptop.image}}" >
        <div class="cardBodyStyle card-body">
            <h4 class="card-title">{{laptop.code}}</h4>
            <p class="card-text">Manufacturer: {{laptop.manufacturer}}</p>
            <p class="card-text">Memory: {{laptop.ram}}GB</p>
            <p class="card-text">Screen Size: {{laptop.size}} Inches</p>
            <p class="card-text">Price: {{laptop.price}}₪</p>
            
            <a [routerLink]="['../product/',laptop.id]" class="btnStyle btn btn-primary">Order</a>
        </div>
    </div>    
</div>
<div id="titleContainer">
    <h4 id="titleStyle">Contact Us</h4>
</div>
<div id="iconsContainer">
    <a href="https://www.facebook.com"><img class="iconStyle" src="/assets/icons/facebook.png"></a>
    <a href="https://www.x.com"><img class="iconStyle" src="/assets/icons/x.png"></a>
    <a href="https://www.instagram.com"><img class="iconStyle" src="/assets/icons/instagram.webp"></a>
</div>

