#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

#container2{
    padding:10px 10px 10px 10px;
    background-color:#011848;
    border-radius:20px;
    max-width: 50vh;
    color:#ffffff;

    text-align:center;
}

.formInputs{
    background-color:#011848;
    border:1px solid #ffffff;
    border-radius:20px;
    width:100%;
    padding-left: 10px;
    padding-bottom:2px;
    color:#ffffff;
    margin-bottom: 10px;
}

p{
    font-size: xx-large;
    font-weight: bold;
    color:#011848;
}

#dateInput{
    margin-left: 5px;
}

#genderLabel{
    margin-right: 5px;
}

